# Ignore all zip files (probably a backup)
.vscode/
__pycache__/
logs/
scan_results/
app/shared/pki/iso15118_2
app/shared/pki/iso15118_20

*.zip
*test.py
*.pyc
*.lck

test_*

PWM_PCB.kicad_prl
server_keylog.log
client_keylog.log