[submodule "external_libs/HomePlugPWN"]
	path = external_libs/HomePlugPWN
	url = https://github.com/JakeMG-INL/HomePlugPWN.git
	branch = minimal-libs

[submodule "external_libs/V2GInjector"]
	path = external_libs/V2GInjector
	url = https://github.com/JakeMG-INL/V2GInjector.git
	branch = minimal-libs

[submodule "external_libs/EXPy"]
	path = external_libs/EXPy
	url = https://github.com/IdahoLabResearch/EXPy.git
