[submodule "external_libs/HomePlugPWN"]
	path = external_libs/HomePlugPWN
	url = https://github.com/JakeMG-INL/HomePlugPWN.git
	branch = minimal-libs

[submodule "external_libs/V2GInjector"]
	path = external_libs/V2GInjector
	url = https://github.com/JakeMG-INL/V2GInjector.git
	branch = minimal-libs

[submodule "external_libs/V2Gdecoder"]
	path = external_libs/V2Gdecoder
	url = https://github.com/JakeMG-INL/V2Gdecoder.git

[submodule "external_libs/RISE-V2G"]
	path = external_libs/RISE-V2G
	url = https://github.com/JakeMG-INL/RISE-V2G.git
	
[submodule "external_libs/CH4ESE"]
	path = external_libs/CH4ESE
	url = https://github.com/IdahoLabResearch/CH4ESE.git
[submodule "external_libs/EXPy"]
	path = external_libs/EXPy
	url = https://github.com/IdahoLabResearch/EXPy.git
