# Ignore all zip files (probably a backup)
*.zip

# Test scripts
*test.py

# Compile Python files
__pycache__/
*.pyc
*.lck

# Ignore all KiCad files besides the project files
PCB/
!*.kicad_mod
!*.kicad_sym
!*.kicad_pcb
!*.kicad_sch
!*.kicad_pro